.navBar {
    background-color: #eee;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .profilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  